.grid {
    display: grid;
    gap: 20px; /* Gap between grid items */

    /* Initially 1 column */
    grid-template-columns: 1fr;

    /* On tablets and larger, 2 columns */
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    /* On laptops and larger, 4 columns */
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid .border {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.grid .border img {
    padding: 2px;
    width: 100%; /* Make the image fill its container */
    height: 200px;
    display: block;
    transition: transform 0.3s ease;
    object-fit: cover; /* Smooth transform effect */
}

.grid .border:hover img {
    transform: scale(1.05); /* Scale up image on hover */
}

.grid .border .p-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 8px;
    text-align: center;
}

.grid .border .p-4 h2 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.subcategory-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
